<h1>Superpower Master List</h1>

<ul>
  <% @superpowers.each do |superpower| %>
    <li>
      <%= link_to superpower.name, superpower_path(superpower.id) %></br>
    </li>
  <% end %>
</ul>

<%if !current_user.nil? && current_user.admin? %>
  <%= link_to "Add new superpower", new_admin_superpower_path %>
<% end %>
