<div class="panel admin-panel">
  <h2>Superpower Master List</h2>
  <table>
    <tr>
      <th>Superpower</th>
      <th>Action</th>
    </tr>
      <% @superpowers.each do |superpower| %>
        <tr>
          <td>
            <%= link_to superpower.name, admin_superpower_path(superpower.id) %>
          </td>
          <td>
            <%= link_to 'Edit', edit_admin_superpower_path(superpower) %>
          </td>
          <td>
            <%= link_to 'Delete', [:admin, superpower], method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
  </table>

  <%if !current_user.nil? && current_user.admin? %>
    <%= link_to "Add new superpower", new_admin_superpower_path %>
  <% end %>
</div>
